<a href="https://colab.research.google.com/github/nithin-k-mundrathi/LLM-practice/blob/main/RAG/RAG_C_6/2_Scaling_Pipeline_VectorStore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
%%capture
!pip install pinecone-client==5.0.1

In [3]:
f = open("pinecone.txt", "r")
PINECONE_API_KEY=f.readline()
f.close()

## Processing bank churn dataset

In [35]:
import pandas as pd
# Load the CSV file
file_path = '/content/Customer-Churn-Records.csv'
data1 = pd.read_csv(file_path).loc[:300,:]

In [36]:
# Count the chunks
number_of_lines = len(data1)
print("Number of lines: ",number_of_lines)

Number of lines:  301

In [37]:
import pandas as pd
# Initialize an empty list to store the lines
output_lines = []

# Iterate over each row in the DataFrame
for index, row in data1.iterrows():
    # Create a list of "column_name: value" for each column in the row
    row_data = [f"{col}: {row[col]}" for col in data1.columns]
    # Join the list into a single string separated by spaces
    line = ' '.join(row_data)
    # Append the line to the output list
    output_lines.append(line)

# Display or further process `output_lines` as needed
for line in output_lines[:3]:  # Displaying first 5 lines for preview
    print(line)

RowNumber: 1 CustomerId: 15634602 Surname: Hargrave CreditScore: 619 Geography: France Gender: Female Age: 42 Tenure: 2 Balance: 0.0 NumOfProducts: 1 HasCrCard: 1 IsActiveMember: 1 EstimatedSalary: 101348.88 Exited: 1 Complain: 1 Satisfaction Score: 2 Card Type: DIAMOND Point Earned: 464
RowNumber: 2 CustomerId: 15647311 Surname: Hill CreditScore: 608 Geography: Spain Gender: Female Age: 41 Tenure: 1 Balance: 83807.86 NumOfProducts: 1 HasCrCard: 0 IsActiveMember: 1 EstimatedSalary: 112542.58 Exited: 0 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 456
RowNumber: 3 CustomerId: 15619304 Surname: Onio CreditScore: 502 Geography: France Gender: Female Age: 42 Tenure: 8 Balance: 159660.8 NumOfProducts: 3 HasCrCard: 1 IsActiveMember: 0 EstimatedSalary: 113931.57 Exited: 1 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 377

In [38]:
lines = output_lines.copy()
# Count the lines
number_of_lines = len(lines)
print("Number of lines: ",number_of_lines)

Number of lines:  301

## Chunking and embedding the dataset

In [39]:
import time
start_time = time.time()  # Start timing before the request
# Initialize an empty list for the chunks
chunks = []
# Add each line as a separate chunk to the chunks list
for line in lines:
    chunks.append(line)  # Each line becomes its own chunk

# Now, each line is treated as a separate chunk
print(f"Total number of chunks: {len(chunks)}")
response_time = time.time() - start_time  # Measure response time
print(f"Response Time: {response_time:.2f} seconds")  # Print response time

Total number of chunks: 301
Response Time: 0.00 seconds

In [40]:
for i in range(3):
    print(len(chunks[i]))
    print(chunks[i])

288
RowNumber: 1 CustomerId: 15634602 Surname: Hargrave CreditScore: 619 Geography: France Gender: Female Age: 42 Tenure: 2 Balance: 0.0 NumOfProducts: 1 HasCrCard: 1 IsActiveMember: 1 EstimatedSalary: 101348.88 Exited: 1 Complain: 1 Satisfaction Score: 2 Card Type: DIAMOND Point Earned: 464
288
RowNumber: 2 CustomerId: 15647311 Surname: Hill CreditScore: 608 Geography: Spain Gender: Female Age: 41 Tenure: 1 Balance: 83807.86 NumOfProducts: 1 HasCrCard: 0 IsActiveMember: 1 EstimatedSalary: 112542.58 Exited: 0 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 456
289
RowNumber: 3 CustomerId: 15619304 Surname: Onio CreditScore: 502 Geography: France Gender: Female Age: 42 Tenure: 8 Balance: 159660.8 NumOfProducts: 3 HasCrCard: 1 IsActiveMember: 0 EstimatedSalary: 113931.57 Exited: 1 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 377

## Embedding

In [41]:
from sentence_transformers import SentenceTransformer
model_sentence = SentenceTransformer('all-MiniLm-L6-v2')

In [11]:
def get_embedding(texts, model= model_sentence):
    texts = [text.replace("\n", " ") for text in texts]  # Clean input texts
    embeddings = [model.encode(data,ignore_errors=True) for data in texts]  # Extract embeddings
    return embeddings

## Embedding the Chunks

In [42]:
def embed_chunks(chunks, embedding_model=model_sentence, batch_size=1000, pause_time=3):
    start_time = time.time()  # Start timing the operation
    embeddings = []  # Initialize an empty list to store the embeddings
    counter = 1  # Batch counter

    # Process chunks in batches
    for i in range(0, len(chunks), batch_size):
        chunk_batch = chunks[i:i + batch_size]  # Select a batch of chunks

        # Get the embeddings for the current batch
        current_embeddings = get_embedding(chunk_batch, model=embedding_model)

        # Append the embeddings to the final list
        embeddings.extend(current_embeddings)

        # Print batch progress and pause
        print(f"Batch {counter} embedded.")
        counter += 1
        time.sleep(pause_time)  # Optional: adjust or remove this depending on rate limits

    # Print total response time
    response_time = time.time() - start_time
    print(f"Total Response Time: {response_time:.2f} seconds")

    return embeddings

embeddings = embed_chunks(chunks)

Batch 1 embedded.
Total Response Time: 5.03 seconds

In [43]:
len(embeddings[0])

384

In [13]:
print("First embedding:", embeddings[0])

First embedding: [-6.38262108e-02  1.68146752e-02 -8.85062441e-02 -1.22976536e-03
 -4.86669950e-02  9.61372033e-02 -7.88151380e-03  2.11041179e-02
 -3.00560556e-02 -8.31193030e-02 -1.93316564e-02 -1.00771211e-01
 -2.05566362e-02 -8.04295912e-02 -1.02015629e-01 -2.12674364e-02
 -8.09553452e-03 -1.72354765e-02  4.28637192e-02 -9.35124978e-03
 -1.28633305e-02  6.10680021e-02 -2.29817666e-02 -2.99872644e-02
  4.67298349e-04 -6.50635436e-02 -5.46946190e-02  3.07161584e-02
 -3.86336036e-02 -5.73025569e-02  4.89004552e-02  7.33829066e-02
  1.11306369e-01  8.14606845e-02  3.69490832e-02 -3.02295368e-02
 -5.19268103e-02 -1.96103621e-02 -3.66857499e-02  4.58646864e-02
  2.43729949e-02 -8.82684365e-02 -4.21835063e-03  1.46632707e-02
 -5.63134206e-03 -2.62033455e-02 -3.98395807e-02  9.34956409e-03
 -2.98012309e-02  8.95939618e-02 -1.02689721e-01  8.56672451e-02
  2.60421466e-02 -8.02441686e-02 -6.02043159e-02  4.40684007e-03
  6.94212876e-03 -2.52083782e-02  5.34914713e-03  4.13522385e-02
  5.52306548e-02  3.26387733e-02 -2.07016654e-02 -4.18403633e-02
 -1.73458662e-02 -7.70810023e-02 -2.10295673e-02  5.93840815e-02
 -7.63842044e-03  2.23269649e-02  6.95344582e-02  6.15306292e-03
 -9.45978239e-02  8.71996116e-03  5.84524386e-02  3.95790227e-02
 -4.23531421e-02 -3.76921892e-02  6.72587380e-02  1.19581204e-02
 -8.99122804e-02 -5.36756665e-02 -2.55893654e-04  5.09585738e-02
  1.87584888e-02 -4.20354754e-02  1.21707711e-02  5.98366782e-02
 -5.19551449e-02 -6.32304475e-02  7.03523681e-02  5.05263694e-02
 -6.24643127e-03  2.00878214e-02 -1.59413293e-02 -6.26488170e-03
 -1.71760898e-02  3.89749780e-02 -8.27542469e-02  1.70553438e-02
 -2.07339078e-02  8.86931866e-02 -3.47404107e-02 -7.23599596e-03
 -5.10327555e-02  1.83434726e-03  8.91936496e-02  3.90925743e-02
  2.04985049e-02 -7.54578635e-02 -4.18704934e-02  4.91263764e-03
 -1.23831285e-02 -6.60660267e-02  1.91449374e-02 -5.15648979e-04
 -8.65053106e-03 -3.73536609e-02  4.73071635e-02  7.51165021e-03
  2.65870560e-02  5.70403710e-02 -6.77037537e-02  3.17052379e-03
 -5.80019616e-02 -1.66853648e-02  5.80199156e-03  8.83485318e-33
  2.26337276e-02  7.81908855e-02  1.05545871e-01  4.41632271e-02
  2.50013117e-02 -5.62099088e-03 -6.41350523e-02  3.95734198e-02
 -6.97125942e-02  8.44326615e-02 -4.41936143e-02 -1.56924163e-03
 -1.09387841e-02 -3.20432410e-02 -2.27201544e-02 -1.85588957e-03
 -4.61117458e-03  3.57496515e-02 -7.77197778e-02  1.44803142e-02
  4.78866883e-02 -8.05772617e-02  1.25310579e-02  8.22392181e-02
  2.61932388e-02  7.36031979e-02 -2.28989180e-02  1.69889685e-02
  1.05628379e-01  3.47595848e-02  3.80312502e-02 -9.56351534e-02
 -6.40516169e-03 -6.19928017e-02 -3.27759311e-02  4.64203246e-02
 -2.63233446e-02 -2.50555668e-02 -4.14324701e-02 -3.90226133e-02
 -3.15561481e-02  7.84075186e-02 -4.33076546e-02 -1.82004906e-02
 -2.71390416e-02 -2.47951932e-02  1.18126199e-01  2.60005556e-02
  5.66788614e-02  9.17177275e-02 -8.82871971e-02 -3.61031257e-02
 -5.24935909e-02  1.40821571e-02 -3.68753858e-02 -2.83937287e-02
 -4.49475460e-03  9.88532230e-02  2.01696176e-02 -1.11358762e-01
  1.04962680e-02 -6.66825324e-02 -9.70917270e-02 -7.84190074e-02
 -4.75304201e-03  3.01243514e-02 -6.66340766e-03 -1.11036859e-01
  3.50338593e-02 -3.05646285e-02  1.61482822e-02  5.25492169e-02
  7.73936091e-03  3.02317496e-02 -1.15192449e-02  2.87447311e-02
 -4.18772399e-02 -1.39732275e-03  4.31008898e-02 -3.25883031e-02
 -2.34943777e-02 -4.66822088e-03 -7.55020827e-02  2.77432427e-03
  4.26023193e-02  2.39177365e-02  8.95428210e-02 -6.33986592e-02
 -8.27321634e-02  4.88694608e-02 -1.41466092e-02 -6.68692142e-02
  4.60618101e-02 -1.46028362e-02 -1.05152307e-02 -9.31574277e-33
 -7.72537515e-02  4.50690603e-03 -6.96562156e-02 -2.14641485e-02
  5.07544503e-02  2.78516207e-02  3.93749177e-02  4.38230410e-02
 -5.32395905e-03  1.89098355e-03  6.88467398e-02 -1.37840547e-02
 -1.57395459e-03 -7.24661211e-03  9.00702178e-03  1.26706138e-02
  4.52999547e-02  2.53369827e-02 -2.12545060e-02  2.55213566e-02
  4.76636328e-02  6.44984692e-02  8.21073353e-03  8.54949206e-02
 -5.27098514e-02  8.85845646e-02  3.79756512e-03 -7.94383287e-02
 -2.25257198e-03 -2.54751798e-02  5.05985059e-02 -5.64764924e-02
 -6.28005564e-02  1.07502826e-01 -1.07294604e-01 -7.63288960e-02
  3.19727957e-02  9.50646102e-02 -1.02186706e-02  6.82274252e-02
  1.60655957e-02 -3.16475779e-02 -3.61136347e-02  3.15175056e-02
  1.69259124e-02 -3.71863171e-02  8.24573338e-02 -1.01268500e-01
  9.59160365e-03 -1.36649692e-02 -7.64784366e-02  4.69405726e-02
 -1.23003246e-02  7.85336047e-02 -1.19262170e-02  5.44100767e-03
  2.65860353e-02 -3.88712622e-03 -5.30030578e-02 -6.45561889e-02
  3.16230999e-03  1.32104620e-01 -3.32184397e-02  4.68294472e-02
  1.06271528e-01 -8.36438537e-02 -7.07416609e-02 -5.62726054e-03
 -4.57510017e-02 -5.26965223e-02 -2.37413179e-02 -5.69392601e-03
  2.64772419e-02  3.65926921e-02 -4.74976236e-03 -1.91938300e-02
 -6.22763820e-02  9.26149171e-03 -6.07689396e-02  5.37816575e-03
 -2.40335632e-02 -5.37356995e-02  4.62990515e-02 -7.09518418e-03
  1.75270997e-02 -7.92253315e-02  1.68828651e-01  5.41310981e-02
  6.96070269e-02  2.29903962e-02 -3.33417654e-02 -2.77968459e-02
 -6.24581911e-02 -5.62166646e-02 -3.29887941e-02 -4.93672587e-08
 -6.55014291e-02  2.36587711e-02 -6.36443049e-02  3.26454709e-03
 -3.66402902e-02 -4.24201898e-02 -4.26302440e-02  7.37326816e-02
 -4.69802059e-02  6.00187965e-02  3.39794569e-02  2.51445528e-02
 -8.89682323e-02 -1.13660216e-01  7.20954090e-02 -5.06499931e-02
  2.90974677e-02 -9.09960177e-03  2.23527011e-02  2.67812423e-02
  2.01357752e-02  5.14982678e-02 -4.04034257e-02 -2.42898166e-02
 -4.81018610e-02 -1.58936977e-02  4.98792045e-02 -3.31357978e-02
  6.39662072e-02 -6.54003248e-02  8.20828527e-02  4.58390117e-02
  1.04721434e-01 -2.29372848e-02 -3.43593918e-02  3.11439298e-02
  1.36243924e-02  5.50851412e-02  1.33242300e-02  8.01988319e-03
  6.46904018e-03  2.14199647e-02 -1.05307862e-01 -1.17134042e-02
 -2.15244424e-02  6.64585754e-02 -4.65223268e-02 -3.00111081e-02
  5.59370555e-02 -6.85360134e-02 -3.76032740e-02  1.09482883e-02
 -1.46466063e-03  1.05805201e-02 -1.30494852e-02  2.50715278e-02
  2.93826256e-02  4.23665605e-02  5.30191064e-02  8.29906389e-03
  9.95117947e-02 -4.19790111e-02 -6.47736117e-02  4.56514731e-02]

In [44]:
# Check the lengths of the chunks and embeddings
num_chunks = len(chunks)
print(f"Number of chunks: {num_chunks}")
print(f"Number of embeddings: {len(embeddings)}")

Number of chunks: 301
Number of embeddings: 301

In [45]:
# Define the duplication size
dsize = 1  # You can set this to any value between 1 and n as per your experimentation requirements
total=dsize * len(chunks)
print("Total size", total)
# Initialize new lists for duplicated chunks and embeddings
duplicated_chunks = []
duplicated_embeddings = []

# Loop through the original lists and duplicate each entry
for i in range(len(chunks)):
    for _ in range(dsize):
        duplicated_chunks.append(chunks[i])
        duplicated_embeddings.append(embeddings[i])

# Checking the lengths of the duplicated lists
print(f"Number of duplicated chunks: {len(duplicated_chunks)}")
print(f"Number of duplicated embeddings: {len(duplicated_embeddings)}")

Total size 301
Number of duplicated chunks: 301
Number of duplicated embeddings: 301

## The Pinecone index

In [46]:
import os
from pinecone import Pinecone, ServerlessSpec

# initialize connection to pinecone (get API key at app.pinecone.io)
api_key = os.environ.get('PINECONE_API_KEY') or 'PINECONE_API_KEY'

from pinecone import Pinecone, ServerlessSpec
pc = Pinecone(api_key=PINECONE_API_KEY)

In [47]:
from pinecone import ServerlessSpec

index_name = 'bank-index-50000'
cloud = os.environ.get('PINECONE_CLOUD') or 'aws'
region = os.environ.get('PINECONE_REGION') or 'us-east-1'

spec = ServerlessSpec(cloud=cloud, region=region)

In [48]:
import time
import pinecone
# check if index already exists (it shouldn't if this is first time)
if index_name not in pc.list_indexes().names():
    # if does not exist, create index
    pc.create_index(
        index_name,
        dimension=384,  # dimension of the embedding model
        metric='cosine',
        spec=spec
    )
    # wait for index to be initialized
    time.sleep(1)

# connect to index
index = pc.Index(index_name)
# view index stats
index.describe_index_stats()

{'dimension': 384,
 'index_fullness': 0.0,
 'namespaces': {},
 'total_vector_count': 0}

## Upserting

In [49]:
# upsert function
def upsert_to_pinecone(data, batch_size):
    for i in range(0, len(data), batch_size):
        batch = data[i:i+batch_size]
        index.upsert(vectors=batch)
        #time.sleep(1)  # Optional: add delay to avoid rate limits

In [50]:
import pinecone
import time
import sys

start_time = time.time()  # Start timing before the request

# Function to calculate the size of a batch
def get_batch_size(data, limit=600000):  # limit set to 4MB to be safe
    total_size = 0
    batch_size = 0
    for item in data:
        item_size = sum([sys.getsizeof(v) for v in item.values()])
        if total_size + item_size > limit:
            break
        total_size += item_size
        batch_size += 1
    return batch_size

def batch_upsert(data):
    total = len(data)
    i = 0
    while i < total:
        batch_size = get_batch_size(data[i:])
        batch = data[i:i + batch_size]
        if batch:
            upsert_to_pinecone(batch,batch_size)
            i += batch_size
            print(f"Upserted {i}/{total} items...")  # Display current progress
        else:
            break
    print("Upsert complete.")

# Generate IDs for each data item
ids = [str(i) for i in range(1, len(duplicated_chunks) + 1)]

# Prepare data for upsert
data_for_upsert = [
    {"id": str(id), "values": emb, "metadata": {"text": chunk}}
    for id, (chunk, emb) in zip(ids, zip(duplicated_chunks, duplicated_embeddings))
]

# Upsert data in batches
batch_upsert(data_for_upsert)

response_time = time.time() - start_time  # Measure response time
print(f"Upsertion response time: {response_time:.2f} seconds")  # Print response time

Upserted 301/301 items...
Upsert complete.
Upsertion response time: 3.10 seconds

In [51]:
print("Index stats")
print(index.describe_index_stats(include_metadata=True))

Index stats
{'dimension': 384,
 'index_fullness': 0.0,
 'namespaces': {},
 'total_vector_count': 0}

## Querying the Index

In [52]:
# Print the query results along with metadata
def display_results(query_results):
  for match in query_results['matches']:
    print(f"ID: {match['id']}, Score: {match['score']}")
    if 'metadata' in match and 'text' in match['metadata']:
        print(f"Text: {match['metadata']['text']}")
    else:
        print("No metadata available.")

In [53]:
def get_embedding(text, model=model_sentence):
    text = text.replace("\n", " ")
    embedding = model.encode(text,ignore_errors=True)
    return embedding

In [62]:
print("Querying vector store")
start_time = time.time()  # Start timing before the request
query_text = "Customer Hill CreditScore 608Age 41 Tenure 1Balance 83807.86NumOfProducts 1HasCrCard 0IsActiveMember 1EstimatedSalary 112542.58 Exited 0Complain 1Satisfaction Score 3Card Type DIAMONDPoint Earned 456"
query_embedding = get_embedding(query_text,model=model_sentence).tolist()
query_results = index.query(vector=query_embedding, top_k=1, include_metadata=True)  # Request metadata
#print("raw query_results",query_results)
print("processed query results")
display_results(query_results) #display results
response_time = time.time() - start_time              # Measure response time
print(f"Querying response time: {response_time:.2f} seconds")  # Print response time

Querying vector store
processed query results
ID: 2, Score: 0.714985132
Text: RowNumber: 2 CustomerId: 15647311 Surname: Hill CreditScore: 608 Geography: Spain Gender: Female Age: 41 Tenure: 1 Balance: 83807.86 NumOfProducts: 1 HasCrCard: 0 IsActiveMember: 1 EstimatedSalary: 112542.58 Exited: 0 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 456
Querying response time: 1.00 seconds

In [63]:
data1

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,297,15774510,Tien,714,France,Female,31,4,125169.26,1,1,1,106636.89,0,0,3,PLATINUM,669
297,298,15684173,Chang,687,Spain,Female,44,7,0.00,3,1,0,155853.52,1,1,2,SILVER,336
298,299,15650068,Johnson,511,France,Male,58,0,149117.31,1,1,1,162599.51,0,0,1,GOLD,517
299,300,15811490,French,627,France,Male,33,5,0.00,2,1,1,103737.82,0,0,4,PLATINUM,499
300,301,15803976,Efremov,694,France,Female,31,10,0.00,2,1,0,160990.27,0,0,3,SILVER,673